/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	font-family: inherit;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
textarea {
	resize: none;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}




html, body {
    font-family: 'Raleway',Arial,sans-serif;
}
.btn {
    background: #ffe141;

    border-radius: 10px;

    box-shadow: 2px 3px 5px 1px rgba(41, 41, 41, 0.2);

    justify-content: center;

    color: #1f1f1f;

    font-size: 12px;
}




.container {
    padding: 0 5%;
}

.wrapper {
    background: #e3edfa;
}




.header {
    background: #e3edfa;

    padding: 16px 0;

    position: fixed;

    width: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo a {
    display: flex;
    align-items: center;
}

.header__logo_img {
    margin-right: 12px;
}

.header__logo_img img {
    width: 30px;
    height: 30px;
}

.header__title {
    color: #000 !important;

    font-size: 17px;
}

.header__subtitle {
    color: #000 !important;

    font-size: 9px;
}

.header__buttons {
    display: flex;
}

.header__button {
    font-size: 14px;

    padding: 6px 24px;
}

.header__buttons a:last-child {
    margin-left: 16px;
}





.main {
    padding-top: 62px;
    height: 100vh;
}

.main__container {
    display: flex;
    margin-top: 24px;
}




.aside__navigation {
    position: fixed;
}

.block__fantom {
    width: 227px;
    margin-right: 24px;
    height: 0;
    opacity: 0;
}

.aside__navigation_item a {
    background: #e3edfa;

    box-shadow: 2px 3px 5px 1px rgba(20, 20, 20, 0.3);

    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 12px;

    width: 227px;
    height: 40px;
}

.aside__icon {
    margin-right: 10px;
}

.aside__icon img {
    width: 30px;
    height: 30px;
}

.aside__href button {
    width: 161px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}




.main__content {
    padding: 24px;
    padding-top: 0;

    flex: 0 0 65vw;
}

.article {
    background: rgba(198, 201, 204, 0.4);

    padding: 24px;
    margin-bottom: 24px;
}

.article:last-child {
    margin-bottom: 0;
}

.article__top {
    display: flex;
    align-items: center;

    margin-bottom: 15px;
}

.author-article_username {
    font-size: 21px;
}

.article__time {
    font-size: 9px;
}

.author-article_avatar {
    margin-right: 24px;
}

.author-article_avatar img {
    width: 40px;
    height: 40px;
}

.article__img img {
    width: 100%;
}

.article__title {
    background: #0c7a31;

    border-radius: 10px;

    color: #edf1f5;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 600;

    text-align: center;

    padding: 6px 20px;
    margin-bottom: 18px;

    min-width: 220px;
    min-height: 28px;
}

.article__text {
    font-size: 13px;

    line-height: 1.55;

    margin-bottom: 18px;
}




.setting {
    background: rgba(198, 201, 204, 0.4);

    padding: 64px 40px;
}

.setting_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.setting_grid > *:nth-child(-n+3) {
    /* margin-bottom: 20px; */
    grid-column: 1/3;
    align-items: center;
    display: grid;
    grid-template-columns: 40% 60%;
}

.setting__input {
    background: #fcfcfc;

    border: 1px solid #757575;
    border-radius: 5px;

    padding: 4px 20px;
}

.setting__save {
    display: inline-block;
    padding: 6px 40px;
    margin-top: 20px;
    margin: 20px auto 0;
}

.authorization {
    margin: 0 auto;
}

.authorization__form {
    background: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 0 100px;

    width: 640px;
    height: 463px;
}

/* .authorization > * {
    width: 100%;
} */

.authorization__title {
    color: #103303;
    
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 22px;
}

.authorization__subtitle {
    font-size: 16px;

    margin-bottom: 24px;
}

.authorzation__input {
    border: 1px solid #949494;
    border-radius: 15px;

    font-size: 18px;

    margin-bottom: 24px;
    padding: 12px 18px;

    width: 100%;
}

.authorization__or {
    margin: 16px 0 16px;
}

.authorization__button {
    border: 1px solid #949494;
    border-radius: 15px;

    box-shadow: none;

    font-size: 20px;
    font-weight: 600;

    padding: 13px 0;

    width: 100%;
}

.authorization__bottom_text {
    margin-top: 14px;
}

.authorization_href {
    color: #006cfa;

    text-decoration: underline;
}